/*
# 03. Update Blog Layout

## Tasks
* Create an **"index.html"** file with title - **"Update Blog Layout"**
* **Copy** the latest code from ***"Blog Layout with Flexbox"***
* **Copy** your multilevel dropdown
* Make the menu **responsive**
* Get the latest **typography.css**
* Move the layout code to **layout.css**
* Move the navigation code to **navigation.css**
* Create **reset.css** file

*/
@import "reset.css";
@import "typography.css";

body {
	background-color: #EBEBEB;
	color: black;
}

.site-wrapper {
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 75rem;
}

header,
footer {
	flex: 0 0 100%;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.site-title {
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background: white;
	margin: 0;
}

nav li {
	display: block;
	list-style: none;
	list-style-position: outside;
	margin: 1rem 1rem;
	position: relative;
}

nav li:last-of-type {
	margin-right: 1rem;
}

nav a {
	text-decoration: none;
	color: white;
	background: #2C2C2C;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	min-width: 100%;
}

nav li:hover > a,
nav a:hover {
	background: green;
}

nav ul ul {
	display: none;
	position: absolute;
	left: -1rem;
	top: 2rem;
	width: 15rem;
}

nav ul ul li {
	flex: 1 0 100%;
}

nav ul > li:hover > ul {
	display: block;
}

main {
	flex: 1 0 65%;
}

aside {
	flex: 0 0 25%;
	margin-left: 1rem;
}


aside a {
	color: green;
	text-decoration: none;
}

img {
	background-color: white;
	padding: 1rem;
	border: 0.25rem solid black;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
}

.float-left {
	float: left;
	margin-right: 1rem;
}

.float-right {
	float: right;
	margin-left: 1rem;
}

blockquote {
	max-width: 40%;
}

@media screen and (max-width: 800px) {
	.site-title {
		width: 100%;
	}

	nav li {
		justify-content: stretch;
	}
}
