body {
	background: #FFA;
	color: #333;
	padding: 20%;
}

h1, h2 {
	color: rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0.5);
}

a {
	color: orange;
}

a:hover {
	color: black;
	font-size: 2em;
}

a:active {
	color: black:
	font-size: 1em;
}
