html {
	font: 16px/1.5 "Verdana", sans-serif;
}

body {
	padding: 1em 5em;
}

/*
article header:first-child {
	text-align: center;
} */
body > header:first-of-type {
	text-align: center;
}

article header {
	border-bottom: 2px solid #333;
}
