/*
# 02. Blog Layout - Flexbox

## Tasks
 * Create an **"index.html"** with title - **"Blog Layout - Flexbox"**
 * The entire content must be in **div** container with class **page** (*div.page*)

## Constraints
 * The page **container *(div)*** has to be **flexed** and **wrapped**
 * Body **background color** must be **rgb(238, 238, 238)**
 * Image **background color** should be **rgb(255, 255, 255)**
 * Blockquote font family has to be **"Georgia", serif**
 * The **anchors** text color in the **aside** section must be **rgb(0, 153, 0)**
 * Page **headings** font has to be **1em/1.2 "Georgia", serif**

*/

body {
	background: rgb(238, 238, 238);
	color: black;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

img {
	background: rgb(255, 255, 255);
	border: 0.25rem solid black;
	padding: 0.5rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.float-left {
	margin-right: 1rem;
	float: left;
}

.float-right {
	margin-left: 1rem;
	float: right;
}

blockquote {
	max-width: 50%;
	font-family: "Georgia", serif;
	padding: 0 1rem;
	border-left: 0.25rem solid lightgray;
	font-style: italic;
}

blockquote .author {
	text-align: right;
}

a {
	color: rgb(0, 153, 0);
	text-decoration: none;
}

h1, h2, h3 {
	font-family: Georgia, serif;
	font-weight: bold;
}

.page {
	margin: auto;
	padding: 2rem;
	max-width: 65rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.page::after {
	content: '';
	clear: both;
}

header {
	flex: 1 0 100%;
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 0.25rem solid gray;
}

main {
	flex: 0 0 65%;
}

aside {
	flex: 0 0 25%;
}

aside h2,
aside h3 {
	margin: 1rem 0;
}
