/*
# 01. Navigation - Flexbox

## Tasks
 * Create an **"index.html"** file with title - **"Navigation - Flexbox"**


## Constraints
 * The **underline** in the **header** must have 
	* Border width - **2px**
	* Border color - **rgb(0, 0, 0)**
	* Border style - **solid**
 * The **display** property of the **header** must be **flex**
 * The **unordered list** in the **header** must have display property **flex**
 * The **anchors** text color in the navigation must be **rgb(0, 153, 0)**
*/

body {
	background: #EEE;
	color: #111;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

h1 {
	font-family: serif;
	font-size: 2rem;
	font-weight: normal;
}

.site-wrapper {
	max-width: 75rem;
	margin: auto;
	padding: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

header {
	flex: 1 0 65%;
	text-transform: uppercase;
	font-size: 2.5rem;
	font-weight: bold;
}

nav {
	flex: 1 0 auto;
}

nav ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

nav li {
	margin: 0;
	list-style: none;
	list-style-position: outside;
	display: inline-block;
}

nav a {
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: green;
}

nav a:hover,
nav a:focus {
	color: white;
	background: #111;
}

main {
	border-top: 0.25rem solid #111;
	flex: 1 0 100%;
}
